test{
  
  /* better comment */ 
  color: #474747;
  color: #fff;
  color: #5eff00;
  color: #FF0000;
  color: #FF4901;
  color: #0000FF;
  color: #f0f;
  color: #ff0;
  color: #fff;
  color: #52c90e;
  color: #ff0;
  color: #ffcf39;
  color: #7ff;
  color: #FF8C00;
  
  color: #7bff00;
  
  
  /* todo-tree */
  
  color: red;
  color: yellow;
  color: cyan;
  color: maroon;
  color: #ff4500; /* orangered */
  color: #ffa500; /* orange */
  color: #00ffff; /* cyan */
  
  
  
  
  
  
  /* peacock */
  color: #b52e31;
  color: #eb5424;
  color: #007fff;
  color: #68217A;
  color: #639;
  color: #5dc9e2;
  color: #557c9b;
  color: #f9e64f;
  color: #1857a4;
  color: #215732;
  color: #00b3e6;
  color: #832561;
  color: #42b883;
  
  
  
  
}
